@charset "utf-8";
* {
    padding: 0px;
    margin: 0px;
    border: none;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}
:root{
    --font-family: "Open Sans", sans-serif;
    --font-size: 18px;

    --color-bg-gray: #E4E4E4;
    --color-bg-yellow: #F5C243;
    --color-bg-black: #121212;
    --color-text-black: #141414;
    --color-white: #fff;
    --color-red: #FF5B6C;

    --padding-big: 3rem;

    --br: 0.75rem;
    --indent-large: 2rem;
    --indent-medium: 1.25rem;
    --indent-light: 0.375rem;
}
html{
    height: 100%;
    scroll-behavior: smooth;
    position: relative;
}
body{ 
    width: 100%;
    height: 100%;
    font-family: var(--font-family);
    font-size: var(--font-size);
    font-weight: 400;
    line-height: 1.25;
    color: var(--color-text-black);
    position: relative;
    display: flex;
    flex-direction: column;
}
hr{
    margin: var(--indent-medium) 0;
	padding: 0;
	height: 0;
	border: none;
	border-top: 1px solid #ddd;
}
.SGV-container{
    padding-left: calc(50% - 700px);
    padding-right: calc(50% - 700px);
    margin-bottom: 20px;
}
.SGV-indent{
    margin-top: var(--indent-large);
}

h2{
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}
p{
    margin-bottom: 1rem;
    text-wrap: balance;
}
img {
    vertical-align: top;
}
.SGV-section-gray{
    background-color: var(--color-bg-gray);
    border-radius: var(--br);
}
.SGV-section-yellow{
    background: radial-gradient(64.8% 64.8% at 50.04% 100%, rgb(255, 208, 5) 0%, rgb(245, 194, 67) 100%);
    border-radius: var(--br);
    overflow: hidden;
    position: relative;
}
.SGV-section-yellow::after{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    content: "";
    width: 100%;
    height: 90px;
    background: linear-gradient(rgba(255,208,5,0%), rgba(255,208,5,100%));
    z-index: 3;
}
.SGV-section-yellow::before{
    position: absolute;
    width: 411px;
    height: 301px;
    bottom: -10px;
    left: -10px;
    content: "";
    background: url('./smally-2-e.png') 0 0 no-repeat;
    z-index: 1;
}
.SGV-section-yellow2{
    background: radial-gradient(64.8% 64.8% at 50.04% 100%, rgb(255, 208, 5) 0%, rgb(245, 194, 67) 100%);
    border-radius: var(--br);
    overflow: hidden;
    position: relative;
}
.SGV-section-yellow2::after{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    content: "";
    width: 100%;
    height: 90px;
    background: linear-gradient(rgba(255,208,5,0%), rgba(255,208,5,100%));
    z-index: 3;
}
.SGV-section-black{
    background: var(--color-bg-black);
    border-radius: var(--br);
    overflow: hidden;
    position: relative;
    color: var(--color-white);
}
.SGV-section-black::after{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    content: "";
    width: 100%;
    height: 90px;
    background: linear-gradient(rgba(20,20,20,0%), rgba(20,20,20,100%));
    z-index: 3;
}
.SGV-section-black::before{
    position: absolute;
    width: 450px;
    height: 619px;
    top: -150px;
    right: -30px;
    content: "";
    background: url('./smally-3-e.png') 0 0 no-repeat;
    z-index: 1;
}
.SGV-section-black2{
    background: var(--color-bg-black);
    border-radius: var(--br);
    overflow: hidden;
    position: relative;
    color: var(--color-white);
}
.SGV-section-gray2{
    background: var(--color-bg-gray);
    border-radius: var(--br);
    overflow: hidden;
    position: relative;
}
.SGV-section-gray2::before{
    position: absolute;
    width: 321px;
    height: 392px;
    bottom: -70px;
    right: -50px;
    content: "";
    background: url('./smally-4-e.png') 0 0 no-repeat;
    z-index: 1;
}
.SGV-padding-big{
    padding: var(--padding-big);
}
.SGV-info{
    display: flex;
    gap: 2rem;
}
img.SGV-info50__img{
    width: 50%;
    object-fit: cover;
    border-radius: var(--br);
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.09), 0 40px 20px 0 rgba(0, 0, 0, 0.05);
}
svg.icon-rub,
svg.icon-loan,
svg.icon-user,
svg.icon-inv{
    width: 35px;
    height: 35px;
    fill: transparent;
}
svg.icon-g1,
svg.icon-g2,
svg.icon-g3,
svg.icon-g4{
    width: 100%;
    height: 80px;
    fill: transparent;
}
.SGV-number-list{
    display: flex;
    flex-wrap: wrap;
    gap: 1.25rem;
    justify-content: center;
    align-items: center;
    margin-top: -35px;
}
.SGV-number-list__item{
    overflow: hidden;
    background-color: var(--color-white);
    border-radius: var(--br);
    display: flex;
    flex-direction: column;
    width: 250px;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.09), 0 10px 30px 0 rgba(0, 0, 0, 0.05);
}
.SGV-number-list__item-block{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 10px 20px;
}
.SGV-number-list__item-title{
    font-size: 1.25rem;
}
.SGV-number-list__item-number{
    font-size: 2.25rem;
    padding-left: 20px;
    margin-bottom: 10px;
}
.SGV-section-yellow img{
    width: 100%;
    height: auto;
    margin-bottom: -4px;
    position: relative;
    z-index: 2;
    margin-top: -130px;
}
.SGV-section-yellow2 img{
    width: 100%;
    height: auto;
    margin-bottom: -6px;
    position: relative;
    z-index: 2;
    margin-top: 30px;
}
.SGV-section-black img{
    width: 100%;
    height: auto;
    margin-bottom: -4px;
    position: relative;
    z-index: 2;
    margin-top: -130px;
}
.SGV-section-gray2 img{
    width: 100%;
    height: auto;
    margin-bottom: -4px;
    position: relative;
    z-index: 2;
    margin-top: -300px;
}
.SGV-padding{
    padding-top: var(--padding-big);
    padding-left: var(--padding-big);
    padding-right: var(--padding-big);
}

ul, ul li {
    list-style: none;
}
ul{
    padding-top: 20px;
}
ul li{
    margin-top: 6px;
    position: relative;
    padding-left: 24px;
}
.SGV-section-black ul li::before{
    content: '';
    position: absolute;
    top: 4px;
    left: 0;
    width: 16px;
    height: 17px;
    background: url('./marker2.svg') 0 0 no-repeat;
}
ul li::before{
    content: '';
    position: absolute;
    top: 4px;
    left: 0;
    width: 16px;
    height: 17px;
    background: url('./marker.svg') 0 0 no-repeat;
}
.SGV-ul-right{
    padding-left: 55%;
}
.SGV-zn2{
    position: relative;
    z-index: 2;
}
.SGV-w50{
    width: 50%;
}
ul.SGV-column3{
    column-count: 3;
}
ul.SGV-column3 li{
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    -moz-page-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid-column;
    margin-bottom: 12px;
    position: relative;
}
.SGV-selected{
    background-color: var(--color-white);
    color: var(--color-text-black);
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: var(--br);
    padding: 30px 25px;
    margin: 20px 20px 0 20px;
}
.SGV-selected span{
    color: var(--color-red);
}
.SGV-section-black2 img{
    width: 200px;
    height: auto;
    float: left;
    margin-right: 40px;
    margin-bottom: 40px;
}
.clearfix::before,
.clearfix::after {
    content: "";
    display: block;
    height: 0;
}
.clearfix::after {
    clear: both;
}
/* screens */
@media screen and (max-width: 1420px){
    .SGV-container{
        padding-left: 20px;
        padding-right: 20px;
    }
    
}
@media screen and (max-width: 1200px){
    :root{
        --font-size: 16px;
    }
    .SGV-number-list__item-number {
        font-size: 2rem;
        padding-left: 20px;
        margin-bottom: 20px;
    }
    svg.icon-g1,
    svg.icon-g2,
    svg.icon-g3,
    svg.icon-g4{
        display: none;
    }
    .SGV-number-list__item{
        width: 200px;
    }
    .SGV-number-list__item-title {
        font-size: 1rem;
    }
    .SGV-number-list{
        gap: 10px;
        margin-top: 10px;
    }
    .SGV-section-gray2 img{
        margin-top: -200px;
    }
}
@media screen and (max-width: 1024px){
    .SGV-section-yellow img,
    .SGV-section-black img,
    .SGV-section-gray2 img{
        margin-top: 20px;
    }
    .SGV-ul-right{
        padding-left: 0px;
    }
    ul{
        padding-top: 0px;
    }
    :root {
        --padding-big: 2rem;
    }
    svg.icon-rub,
    svg.icon-loan,
    svg.icon-user,
    svg.icon-inv{
        width: 24px;
        height: 24px;
    }
    .SGV-w50{
        width: 100%;
    }
    .SGV-selected{
        font-size: 1rem;
        border-radius: var(--br);
        padding: 15px;
        margin: 10px 10px 0 10px;
        text-wrap: balance;
    }
    ul.SGV-column3{
        column-count: 2;
    }
}
@media screen and (max-width: 768px){
    .SGV-info {
        flex-direction: column;
        gap: 10px;
    }
    img.SGV-info50__img {
        width: 100%;
    }
    :root {
        --padding-big: 1rem;
        --font-size: 14px;
    }
    h2 {
        font-size: 1.2rem;
        margin-bottom: 1rem;
    }
    .SGV-number-list__item-number {
        font-size: 1.4rem;
        padding-left: 1rem;
        margin-bottom: 1rem;
    }
    .SGV-number-list__item-block {
        padding: 10px 10px 0px 10px;
    }
    .SGV-number-list__item-number {
        padding-left: 10px;
        margin-bottom: 10px;
    }
    .SGV-container{
        padding-left: 10px;
        padding-right: 10px;
    }
    .SGV-indent{
        margin-top: var(--indent-light);
    }
    .SGV-section-yellow::before,
    .SGV-section-black::before,
    .SGV-section-gray2::before{
        display: none;
    }
    .SGV-section-black br{
        display: none;
    }
    ul.SGV-column3{
        column-count: 1;
    }
    .SGV-section-black2 img{
        width: 200px;
        height: auto;
        float: none;
        margin-right: 40px;
        margin-bottom: 20px;
    }
}
@media screen and (max-width: 520px){
}
/* screens */